
           
           <div >            
            <app-slider></app-slider>    
            <div name="Historioa">
                <h2>
                 Historia 
                </h2>
                <p>                            
    En virtud de la publicación de la nueva LEAPEJ, vigente al 1° de enero del 2016 y su reglamento publicado el 22 de marzo del 2018. Otorga beneficio de todos los participantes de las actividades profesionales en los cursos de actualización, educación continua para llegar al proceso de certificación; actividades que son necesarias para los profesionistas sujetos a certificación obligatoria (Abogados).
    Los profesionistas de las áreas del DERECHO, contaduría, las diversas ingenierías, arquitectura y las áreas de la salud en general; estarán obligados a presentar su certificación profesional con el propósito de garantizar una atención de calidad a los usuarios de sus servicios.
    La actividad profesional prevista en la LEAPEJ en su artículo 7, fracción I, que establece que son actos propios de su profesión ya sean en el ámbito público o privado, es de suma relevancia que los nombramientos del ámbito municipal o estatal, que correspondan con actividades de las que señala que deben tener cedula o en su caso certificación profesional, se garantice que quienes reciban este nombramiento cuenten con ello para su contratación, de esta manera se está garantizando la observancia a dicha ley y se manifiesta un compromiso con la sociedad de que existe una preocupación para integrar profesionistas comprometidos y dispuestos a actualizarse;  profesionistas que laboran de manera independiente o son contratados en el ámbito privado, la autoridad será congruente y vigilante del cumplimiento de la certificación.
            </p>
        </div>
        <div name="Quienes_somos">
            <h2>
                Quienes somos
            </h2>
            <p> 
En este colegio buscamos renovar estas organizaciones en el Estado, mediante un proyecto generacional que refresque las ideas e innove acciones de las agrupaciones de abogados, que proyecte a sus miembros, brindando actualización jurídica, educación continua, ética y prestación de servicio profesional ante las exigencias de una sociedad que reclama cada día mejores servicios. 
Buscamos en su integración abarcar otros ámbitos del desempeño profesional y no solo lo tradicional de las ramas del ejercicio de la abogacía. 
Queremos un colegio con ética profesional, nuevo, moderno, pujante, participativo en la toma de decisiones y que sea orientador de la sociedad con el servicio social profesional; con los profesionistas comprometidos  y dispuestos a actualizarse podremos garantizar miembros exitosos en su ámbito de desarrollo.
Un colegio que genere propuestas viables para el mejoramiento de la regulación estatal en todos sus niveles.
Buscamos renovar la figura de un “Colegio” mediante un proyecto generacional que refresque las ideas e innove acciones de las agrupaciones de abogados, proyectar a sus miembros en la academia, brindando actualización jurídica ante las exigencias de la sociedad. 
La ética profesional, el servicio social profesional, la innovación, serán nuestros principios para posicionarse con liderazgo en la toma de decisiones y ser orientador de la sociedad.
        </p>
    </div>
    <div name="Certificacion">
        <h2>Certificación </h2>
        <p>
            En el ámbito público los nombramientos del ámbito municipal o estatal, que correspondan con actividades del DERECHO deben tener cedula estatal y certificación profesional para garantizar que quienes reciban este nombramiento cuenten con ello para su contratación (artículo 7 fracción I LEAPEJ) de esta manera se manifiesta el apego a la legalidad y el compromiso con la sociedad de que existe una preocupación para integrar profesionistas comprometidos y dispuestos a actualizarse. En el ámbito privado también obliga la certificación profesional y estará visible tu actualización en página de internet.
En el año 2022 los profesionistas de las áreas del DERECHO estarán obligados iniciar para presentar su certificación profesional al año 2023 con el propósito de garantizar una atención de calidad a los usuarios de sus servicios; dicha certificación será ofertada a través de la dirección de profesiones y de los colegios de abogados para obtener el certificado de competencia profesional.
La implementación de la certificación profesional en el Estado, busca que el profesionista a través de la actualización continua y experiencia profesional para quienes cuenten con cedula definitiva y además de lo anterior, examen en su primera certificación para quienes cuenten con cedula profesional con vigencia temporal, sea competente para enfrentar las exigencias y retos que depara el mundo actual, y por otra parte, que el usuario de sus servicio profesionales mediante una consulta que realice en el Registro Estatal de Actividades Profesionales, tenga la plena garantía de que el profesionista que está contratando se encuentra con certificación de competencias profesionales vigente.
La certificación de competencias profesionales, implica evaluar y reconocer el esfuerzo y dedicación responsable de la actualización profesional, su experiencia profesional.
La oportunidad de humanizar el ejercicio profesional y apoyar proyectos de gran impacto social en colaboración con el gobierno y la sociedad, se da a través del servicio social profesional.   
        </p>
    </div>
 </div>
    

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="../../assets/funciones/main.js"></script>
