<section class="caja">
    <div class='contenedor'>
        <div class="caja_columna">                    
            <svg><rect></rect></svg>        
            <div class="texto">
                <img src='../../assets/materiales/f2.jpg' alt="1" class="imgnoticioa">
                <h2>
                    test
                </h2>
                <p>
                    texto de prueba para probar las pruebas probatorias donde
                    donde se pueda probar todo lo probable e inprobable
                    texto de prueba para probar las pruebas probatorias donde
                    donde se pueda probar todo lo probable e inprobable

                </p>
            </div>    
        </div>
        <div class="caja_columna">                    
            <svg><rect></rect></svg>        
            <div class="texto">
                <img src="../../assets/materiales/fotos/f2.jpg" alt="1" class="imgnoticioa">
                <h2>
                    test
                </h2>
                <p>
                    texto de prueba para probar las pruebas probatorias donde
                    donde se pueda probar todo lo probable e inprobable
                    texto de prueba para probar las pruebas probatorias donde
                    donde se pueda probar todo lo probable e inprobable

                </p>
            </div>    
        </div>
        <div class="caja_columna">                    
            <svg><rect></rect></svg>        
            <div class="texto">
                <img src="../../assets/materiales/f4.jpg" alt="1" class="imgnoticioa">
                <h2>
                    test
                </h2>
                <p>
                    texto de prueba para probar las pruebas probatorias donde
                    donde se pueda probar todo lo probable e inprobable
                    texto de prueba para probar las pruebas probatorias donde
                    donde se pueda probar todo lo probable e inprobable

                </p>
            </div>    
        </div>
        <div class="caja_columna">                    
            <svg><rect></rect></svg>        
            <div class="texto">
                <img src="../../assets/materiales/f3.jpg" alt="1" class="imgnoticioa">
                <h2>
                    test
                </h2>
                <p>
                    texto de prueba para probar las pruebas probatorias donde
                    donde se pueda probar todo lo probable e inprobable
                    texto de prueba para probar las pruebas probatorias donde
                    donde se pueda probar todo lo probable e inprobable

                </p>
            </div>    
        </div>
        <div class="caja_columna">                    
            <svg><rect></rect></svg>        
            <div class="texto">
                <img src="../../assets/materiales/fondo.png" alt="1" class="imgnoticioa">
                <h2>
                    test
                </h2>
                <p>
                    texto de prueba para probar las pruebas probatorias donde
                    donde se pueda probar todo lo probable e inprobable
                    texto de prueba para probar las pruebas probatorias donde
                    donde se pueda probar todo lo probable e inprobable

                </p>
            </div>    
        </div>
        <div class="caja_columna">                    
            <svg><rect></rect></svg>        
            <div class="texto">
                <img src="../../assets/materiales/fondo.png" alt="1" class="imgnoticioa">
                <h2>
                    test
                </h2>
                <p>
                    texto de prueba para probar las pruebas probatorias donde
                    donde se pueda probar todo lo probable e inprobable
                    texto de prueba para probar las pruebas probatorias donde
                    donde se pueda probar todo lo probable e inprobable

                </p>
            </div>    
        </div>
        <div class="caja_columna">                    
            <svg><rect></rect></svg>        
            <div class="texto">
                <img src="../../assets/materiales/fondo.png" alt="1" class="imgnoticioa">
                <h2>
                    test
                </h2>
                <p>
                    texto de prueba para probar las pruebas probatorias donde
                    donde se pueda probar todo lo probable e inprobable
                    texto de prueba para probar las pruebas probatorias donde
                    donde se pueda probar todo lo probable e inprobable

                </p>
            </div>    
        </div>
        <div class="caja_columna">                    
            <svg><rect></rect></svg>        
            <div class="texto">
                <img src="../../assets/materiales/fondo.png" alt="1" class="imgnoticioa">
                <h2>
                    test
                </h2>
                <p>
                    texto de prueba para probar las pruebas probatorias donde
                    donde se pueda probar todo lo probable e inprobable
                    texto de prueba para probar las pruebas probatorias donde
                    donde se pueda probar todo lo probable e inprobable

                </p>
            </div>    
        </div>
    </div>
    </section>    
