<header> 
  <div class="redes">
      <P class="texto" >
          WhatsApp; 33 30 37 68 34
      </P>
         Correo Electrónico: colegiodeabogadoscaijejac@gmail.com        
  </div>
  <label for="" class="menub" id="b"><a><img src="materiales/iconos/pngegg.png" alt=""></a></label>
<nav class="menu">
<ul >
<li>
<div class="logo1">
  <img src="../assets/materiales/logo.jpg" alt="test1" class="">
  </div>    
</li>
<li><a href=""><img src="" alt="">CAIJEJ A.C. INICIO</a>

<ul >
<li>
<a href="">HISTORIA</a>

</li>
<li>

<a href="">QUIENES SOMOS
  PRESIDENTE
  CONSEJO DIRECTIVO
  COMITE        </a>

</li>
<li>
<a href="">CONVENIOS DE COLABORACION</a>

</li>
<li>
<a href="">NORMATIVIDAD
  LEY
  REGLAMENTO    </a>
  
</li>
<li>
<a href="">CODGIO DE ETICA</a>

</li>
</ul>

</li>
<li><a href=""><img src="" alt="">            BENEFICIOS</a></li>
<li><a href=""><img src="" alt="">              CERTIFICACION</a></li>
<li><a href=""><img src="" alt="">REVISTA DIGITAL</a></li>
<li><a href=""><img src="" alt="">NOTICIAS Y  EVENTOS</a></li>
<li><a href=""><img src="" alt="">CANAL DE YOUTUBE</a></li>
<li><a href=""><img src="" alt="">CONTACTO </a></li>
</ul>
</nav>
</header>
<div class="contenedor" style="height: 100%;">
  sas
  <p></p>
  <p></p>
  <p></p>
  <p></p>
  <p></p>
  <p></p>
  <p></p>
  <p></p>
  <p></p>
  <p></p>
  <p></p>
  <p></p>
  <p></p> <p></p> <p></p> <p></p> <p></p> <p></p> <p></p> <p></p> <p></p>
  <p>sa</p>
  <p></p>
  <p></p>
  <p>ssa</p>
  <p></p>
<router-outlet></router-outlet>
<script src="../assets/funciones/jquery.js"></script>
</div>
